* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.background-gray {
  background: #F3F3F3;
}

.main-header {
  text-align: center;
  height: 80px;
}

.image-logo {
  padding-top: 24px;
  width: 180px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.background-gray {
  background: #F3F3F3;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(194deg, #9356DC 0%, #FF79DA 100%);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: hide-overlay 2s forwards;
}
.overlay h2 {
  color: white;
  font-size: 50px;
}

.loading {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: 3px solid #008766;
  border-radius: 50%;
  border-top-color: #99E2D0;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes hide-overlay {
  to {
    visibility: hidden;
  }
}
.main-section {
  position: relative;
  height: 100%;
  width: 100%;
}

.top-box {
  background-color: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
  padding: 4px 0 4px 0;
  height: 50px;
}

.location {
  margin-left: 15px;
}

.book-your-meal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F6F6F6;
  padding-bottom: 60px;
}
.book-your-meal .book {
  font-size: 24px;
  font-weight: 700;
  padding-top: 24px;
}
.book-your-meal .discover {
  width: 100%;
  height: 100%;
  font-size: 20px;
  text-align: center;
  color: #101010;
  word-wrap: break-word;
  padding-top: 24px;
  padding-bottom: 24px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: #F3F3F3;
  padding: 20px 40px 50px;
  height: 100%;
  gap: 20px;
}
.restaurants h2 {
  padding: 48px 0 16px 16px;
}

.foto {
  width: 100%;
  border-radius: 25px 25px 0 0;
  max-height: 214px;
  -o-object-fit: cover;
     object-fit: cover;
  flex-grow: 5;
}

.card {
  background: #FFFFFF;
  width: 100%;
  position: relative;
  border-radius: 24px;
}
.card-content {
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: space-between;
}
.card .green-square {
  background: #99E2D0;
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  justify-content: center;
  color: #008766;
  padding: 8px 24px;
  border-radius: 3px;
}
.card .heart {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.card .heart:hover {
  background: linear-gradient(194deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.restaurant-link {
  color: black;
  text-decoration: none;
}

.explore {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  word-wrap: break-word;
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 16px 22px;
  background: linear-gradient(194deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.rest-lock {
  text-decoration: none;
  color: white;
}

.explore-shadow {
  transition: 0.2s ease-in-out;
}
.explore-shadow:hover {
  background: linear-gradient(194deg, #ae70fa 0%, #fd99e1 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.how-it-works {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #FFFFFF;
  padding: 0 20px;
}
.how-it-works .how-it-works-title {
  font-size: 24px;
  font-weight: 700;
  padding: 48px 0 0 16px;
}
.how-it-works .how-it-works-icon {
  padding-left: 32px;
  color: #7E7E7E;
}

.how-it-works-icon-3 {
  color: #9356DC;
  padding-left: 32px;
}

.instruction-container {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #F6F6F6;
  height: 72px;
  margin: 8px 22px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding-left: 16px;
  font-size: large;
  position: relative;
}

.number-three {
  margin-bottom: 56px;
}

.instruction-number {
  background: #9356DC;
  color: white;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  position: absolute;
  left: -16px;
}

@media (min-width: 768px) {
  .restaurants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1320px;
    margin: 0 auto;
  }
  .restaurants h2 {
    width: 100%;
  }
  .card {
    min-width: 312px;
  }
  .card-title {
    margin: 10px 0;
  }
  .restaurant-link {
    flex: 1 1 45%;
  }
}
@media (min-width: 770px) {
  .how-it-works {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    max-width: 1320px;
    margin: 0 auto;
  }
  .instruction-container {
    flex: 1 1 25%;
    max-width: 330px;
    padding-left: 2px;
    font-size: 16px;
  }
  .book {
    font-size: 40px;
  }
  .how-it-works-title {
    width: 100%;
    margin-left: 16px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.background-gray {
  background: #F3F3F3;
}

.header-menus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #FFFFFF;
  padding-bottom: 16px;
}
.header-menus .fa-arrow-left {
  font-size: 30px;
  position: absolute;
  left: 24px;
  top: 26px;
  color: #101010;
}

.main-menus-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F3F3F3;
  margin-top: -40px;
  z-index: 10;
  position: relative;
  border-radius: 40px 40px 0 0;
}
.main-menus-container h2 {
  font-weight: 80;
}

.kitchen-west-img {
  width: 100%;
  height: 338px;
  margin: 0;
}

.picture-menu {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-menus {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 26px;
}
.container-menus .kitchen-west-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Shrikhand", serif;
  font-weight: 100;
}
.container-menus .title-icon {
  display: flex;
  align-items: center;
  padding: 32px 0 0 12px;
}
.container-menus .position-right {
  position: absolute;
  right: 6px;
  top: 32px;
  font-size: 24px;
}
.container-menus .heart {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.container-menus .heart:hover {
  background: linear-gradient(194deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 12px;
}
.menu .menu-title {
  padding: 28px 16px 8px 12px;
  font-weight: 400;
}
.menu .menu-title::after {
  content: "";
  display: block;
  border-top: 2px solid #008766;
  width: 50px;
  margin-top: 4px;
}
.menu .menu-container {
  display: flex;
  gap: 5px;
  background: #F6F6F6;
  margin: 8px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 350;
  cursor: pointer;
  overflow: hidden;
}
.menu .menu-container:hover {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.425);
}
.menu .menu-container:hover .check-mark {
  width: 80px;
  transform: translateX(0);
}
.menu .menu-container .menu-details {
  padding: 16px;
}
.menu .menu-container .menu-details .dish {
  margin-bottom: 8px;
}
.menu .menu-container .price {
  font-size: 14px;
  align-self: flex-end;
  padding: 16px;
  margin-left: auto;
}
.menu .menu-container .check-mark {
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  transform: translateX(120px);
  transition: 0.3s ease-in-out;
}
.menu .menu-container .check-mark i {
  font-size: 30px;
  color: white;
}

.order {
  margin: 50px;
  text-align: center;
  transition: 0.2s ease-in-out;
  padding: 18px 62px;
  transition: 0.2s ease-in-out;
}
.order:hover {
  background: linear-gradient(194deg, #ae70fa 0%, #fd99e1 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

@media (min-width: 768px) {
  .main-menus-container {
    max-width: 1320px;
    margin: 0 auto;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-menus-container .fa-heart {
    position: absolute;
    right: 250px;
  }
  .menu {
    width: 85%;
  }
  .container-menus {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 26px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.background-gray {
  background: #F3F3F3;
}

.header-menus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #FFFFFF;
  padding-bottom: 16px;
}
.header-menus .fa-arrow-left {
  font-size: 30px;
  position: absolute;
  left: 24px;
  top: 26px;
  color: #101010;
}

.main-menus-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F3F3F3;
  margin-top: -40px;
  z-index: 10;
  position: relative;
  border-radius: 40px 40px 0 0;
}
.main-menus-container h2 {
  font-weight: 80;
}

.kitchen-west-img {
  width: 100%;
  height: 338px;
  margin: 0;
}

.picture-menu {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-menus {
  position: relative;
}
.container-menus .kitchen-west-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Shrikhand", serif;
  font-weight: 100;
}
.container-menus .title-icon {
  display: flex;
  align-items: center;
  padding: 32px 0 0 12px;
}
.container-menus .position-right {
  position: absolute;
  right: 36px;
  top: 32px;
  font-size: 24px;
}
.container-menus .heart {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.container-menus .heart:hover {
  background: linear-gradient(194deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 12px;
}
.menu .menu-title {
  padding: 28px 16px 8px 12px;
  font-weight: 400;
}
.menu .menu-title::after {
  content: "";
  display: block;
  border-top: 2px solid #008766;
  width: 50px;
  margin-top: 4px;
}
.menu .menu-container {
  display: flex;
  gap: 5px;
  background: #F6F6F6;
  margin: 8px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 350;
  cursor: pointer;
  overflow: hidden;
}
.menu .menu-container:hover {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.425);
}
.menu .menu-container:hover .check-mark {
  width: 80px;
  transform: translateX(0);
}
.menu .menu-container .menu-details {
  padding: 16px;
}
.menu .menu-container .menu-details .dish {
  margin-bottom: 8px;
}
.menu .menu-container .price {
  font-size: 14px;
  align-self: flex-end;
  padding: 16px;
  margin-left: auto;
}
.menu .menu-container .check-mark {
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  transform: translateX(120px);
  transition: 0.3s ease-in-out;
}
.menu .menu-container .check-mark i {
  font-size: 30px;
  color: white;
}

.order {
  margin: 50px;
  text-align: center;
  transition: 0.2s ease-in-out;
  padding: 18px 62px;
  transition: 0.2s ease-in-out;
}
.order:hover {
  background: linear-gradient(194deg, #ae70fa 0%, #fd99e1 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

@media (min-width: 768px) {
  .main-menus-container {
    max-width: 1320px;
    margin: 0 auto;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-menus-container .fa-heart {
    position: absolute;
    right: 250px;
  }
  .menu {
    width: 85%;
  }
  .container-menus {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 26px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.background-gray {
  background: #F3F3F3;
}

.header-menus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #FFFFFF;
  padding-bottom: 16px;
}
.header-menus .fa-arrow-left {
  font-size: 30px;
  position: absolute;
  left: 24px;
  top: 26px;
  color: #101010;
}

.main-menus-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F3F3F3;
  margin-top: -40px;
  z-index: 10;
  position: relative;
  border-radius: 40px 40px 0 0;
}
.main-menus-container h2 {
  font-weight: 80;
}

.kitchen-west-img {
  width: 100%;
  height: 338px;
  margin: 0;
}

.picture-menu {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-menus {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 26px;
}
.container-menus .kitchen-west-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Shrikhand", serif;
  font-weight: 100;
}
.container-menus .title-icon {
  display: flex;
  align-items: center;
  padding: 32px 0 0 12px;
}
.container-menus .position-right {
  position: absolute;
  right: 36px;
  top: 32px;
  font-size: 24px;
}
.container-menus .heart {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.container-menus .heart:hover {
  background: linear-gradient(194deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 12px;
}
.menu .menu-title {
  padding: 28px 16px 8px 12px;
  font-weight: 400;
}
.menu .menu-title::after {
  content: "";
  display: block;
  border-top: 2px solid #008766;
  width: 50px;
  margin-top: 4px;
}
.menu .menu-container {
  display: flex;
  gap: 5px;
  background: #F6F6F6;
  margin: 8px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 350;
  cursor: pointer;
  overflow: hidden;
}
.menu .menu-container:hover {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.425);
}
.menu .menu-container:hover .check-mark {
  width: 80px;
  transform: translateX(0);
}
.menu .menu-container .menu-details {
  padding: 16px;
}
.menu .menu-container .menu-details .dish {
  margin-bottom: 8px;
}
.menu .menu-container .price {
  font-size: 14px;
  align-self: flex-end;
  padding: 16px;
  margin-left: auto;
}
.menu .menu-container .check-mark {
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  transform: translateX(120px);
  transition: 0.3s ease-in-out;
}
.menu .menu-container .check-mark i {
  font-size: 30px;
  color: white;
}

.order {
  margin: 50px;
  text-align: center;
  transition: 0.2s ease-in-out;
  padding: 18px 62px;
  transition: 0.2s ease-in-out;
}
.order:hover {
  background: linear-gradient(194deg, #ae70fa 0%, #fd99e1 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

@media (min-width: 768px) {
  .main-menus-container {
    max-width: 1320px;
    margin: 0 auto;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-menus-container .fa-heart {
    position: absolute;
    right: 250px;
  }
  .menu {
    width: 85%;
  }
  .container-menus {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 26px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.background-gray {
  background: #F3F3F3;
}

.header-menus {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #FFFFFF;
  padding-bottom: 16px;
}
.header-menus .fa-arrow-left {
  font-size: 30px;
  position: absolute;
  left: 24px;
  top: 26px;
  color: #101010;
}

.main-menus-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F3F3F3;
  margin-top: -40px;
  z-index: 10;
  position: relative;
  border-radius: 40px 40px 0 0;
}
.main-menus-container h2 {
  font-weight: 80;
}

.kitchen-west-img {
  width: 100%;
  height: 338px;
  margin: 0;
}

.picture-menu {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container-menus {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 26px;
}
.container-menus .kitchen-west-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Shrikhand", serif;
  font-weight: 100;
}
.container-menus .title-icon {
  display: flex;
  align-items: center;
  padding: 32px 0 0 0px;
}
.container-menus .position-right {
  position: absolute;
  right: 36px;
  top: 32px;
  font-size: 24px;
}
.container-menus .heart {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  width: 24px;
  height: 24px;
  font-size: 24px;
}
.container-menus .heart:hover {
  background: linear-gradient(194deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 12px;
}
.menu .menu-title {
  padding: 28px 16px 8px 12px;
  font-weight: 400;
}
.menu .menu-title::after {
  content: "";
  display: block;
  border-top: 2px solid #008766;
  width: 50px;
  margin-top: 4px;
}
.menu .menu-container {
  display: flex;
  gap: 5px;
  background: #F6F6F6;
  margin: 8px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 350;
  cursor: pointer;
  overflow: hidden;
}
.menu .menu-container:hover {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.425);
}
.menu .menu-container:hover .check-mark {
  width: 80px;
  transform: translateX(0);
}
.menu .menu-container .menu-details {
  padding: 16px;
}
.menu .menu-container .menu-details .dish {
  margin-bottom: 8px;
}
.menu .menu-container .price {
  font-size: 14px;
  align-self: flex-end;
  padding: 16px;
  margin-left: auto;
}
.menu .menu-container .check-mark {
  background: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  transform: translateX(120px);
  transition: 0.3s ease-in-out;
}
.menu .menu-container .check-mark i {
  font-size: 30px;
  color: white;
}

.order {
  margin: 50px;
  text-align: center;
  transition: 0.2s ease-in-out;
  padding: 18px 62px;
  transition: 0.2s ease-in-out;
}
.order:hover {
  background: linear-gradient(194deg, #ae70fa 0%, #fd99e1 100%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

@media (min-width: 768px) {
  .main-menus-container {
    max-width: 1320px;
    margin: 0 auto;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-menus-container .fa-heart {
    position: absolute;
    right: 250px;
  }
  .menu {
    width: 85%;
  }
  .container-menus {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 26px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.background-gray {
  background: #F3F3F3;
}

footer {
  background: #353535;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  bottom: 0;
  width: 100%;
}
footer span {
  color: #FFFFFF;
}
footer ul {
  padding: 25px 22px;
}
footer li {
  padding-bottom: 16px;
  font-size: 16px;
  list-style: none;
}
footer .icon-footer {
  padding-left: 8px;
}
footer .footer-icon {
  color: #FFFFFF;
}

.footer-my-food {
  color: #FFFFFF;
  font-size: 18px;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  word-wrap: break-word;
  list-style: none;
  margin: 28px 0 28px 0;
}

@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: baseline;
    width: 100%;
  }
  .footer-my-food {
    order: 1;
    padding: 0 52px 0 18px;
  }
  .footer-info {
    justify-content: space-between;
    padding-left: 24px;
  }
}/*# sourceMappingURL=styles.css.map */