@import "base";

footer {
    background: $footer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 24px;
    position: relative;
    bottom: 0;
    width: 100%;
    span {
    color: $white;
    }
    ul{
        padding: 25px 22px;
    }
    li {
    padding-bottom: 16px;
    font-size: 16px;
    list-style: none;
    }
    .icon-footer {
    padding-left: 8px;
    }
    .footer-icon {
    color: $white
    }
    }

.footer-my-food {
    color: $white;
    font-size: 18px;
    font-family: 'Shrikhand', serif;
    font-weight: 400;
    word-wrap: break-word;
    list-style: none;
    margin: 28px 0 28px 0;
    }

    @media (min-width: 768px) {
        footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    
        ul {
            display: flex;
            list-style: none;
            justify-content: flex-end;
            align-items: baseline;
            width: 100%;
        }
    
        .footer-my-food {
            order: 1;
            padding: 0 52px 0 18px;
        }
        
        .footer-info {
        justify-content: space-between;
        padding-left: 24px;
        }
    }

    